<div class="container-fluid h-container">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 m-0 py-3 h-container-fixed border-lightgray-right">
      <app-multiple-search-bars
        search-bar
        [(activeSearchBar)]="activeSearchBar"
        [searchForms]="searchForms"
        (viewChange)="onViewChange($event)"
      ></app-multiple-search-bars>
      <hr class="mx-2 my-4 border-lightgray-bottom">
      <app-map-filters
        map-filters
        *ngIf="activeSearchBar.index !== null"
        [selectedSearchForm]="selectedSearchForm"
      ></app-map-filters>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 px-0">
      <app-map
        map
        *ngIf="activeSearchBar.index !== null"
        [itineraryView]="itineraryView"
        [itineraryMode]="itineraryMode"
        [selectedLocation]="selectedLocation"
        [nextLocation]="itineraryView ? nextLocation : undefined"
      ></app-map>
    </div>
  </div>
</div>
