<div [ngSwitch]="buttonType">
  <button simple-icon-button
          mat-mini-fab
          *ngSwitchCase="'mini-fab'"
          [color]="color"
          class="mat-custom-height mat-custom-width"
          (click)="onClickButton()"
          [disabled]="isDisabled"
          [hidden]="isHidden">
    <mat-icon simple-icon>{{ icon }}</mat-icon>
  </button>
  <button simple-icon-button
          mat-icon-button
          *ngSwitchDefault
          [color]="color"
          class="mat-custom-height mat-custom-width"
          (click)="onClickButton()"
          [disabled]="isDisabled"
          [hidden]="isHidden">
    <mat-icon simple-icon>{{ icon }}</mat-icon>
  </button>
</div>
