<form [formGroup]="searchForms" class="row justify-content-center">
  <div formArrayName="searchFormsArray" [ngClass]="multipleSearch ? 'col-12' : 'col-9'">
    <div search-bars class="row justify-content-center"
         *ngFor="let searchForm of searchFormsArrayControls; let i = index"
         [formGroupName]="i">
      <app-simple-button
        search-bar-up
        class="col-1 px-0"
        *ngIf="multipleSearch"
        [label]="'Up'"
        [isHidden]="i === 0"
        (click)="moveSearchBar(i, false)"
      ></app-simple-button>

      <app-simple-button
        search-bar-down
        class="col-1 px-0"
        *ngIf="multipleSearch"
        [label]="'Down'"
        [isHidden]="i === searchFormsArrayControls.length - 1"
        (click)="moveSearchBar(i, true)"
      ></app-simple-button>

      <app-search-input [searchForm]="searchForm" class="col-4 px-0">
      </app-search-input>

      <app-date-range [searchForm]="searchForm" class="col-4 px-0">
      </app-date-range>

      <app-simple-button
        search-bar-remove
        class="col-2 px-5"
        *ngIf="multipleSearch"
        [label]="'-'"
        [isHidden]="searchFormsArrayControls.length === 1"
        (click)="removeSearchBar(i)">
      </app-simple-button>
    </div>
  </div>
  <div [ngClass]="multipleSearch ? 'col-12' : 'col-3'">
    <div class="row justify-content-center">
      <app-simple-button
        search-bar-add
        class="col-1 px-0"
        *ngIf="multipleSearch" [label]="'+'"
        (click)="addSearchBar()">
      </app-simple-button>
      <app-simple-button
        search-bar-validate
        [ngClass]="multipleSearch ? 'col-2 px-0' : 'col-12 px-0'"
        *ngIf="searchForms" [label]="'Validate'"
        [isDisabled]="searchForms.invalid"
        (validate)="validate()">
      </app-simple-button>
    </div>
  </div>
</form>
