$travel: (
  50 : #e2efec,
  100 : #b8d6cf,
  200 : #88bbaf,
  300 : #589f8e,
  400 : #358b76,
  500 : #11765e,
  600 : #0f6e56,
  700 : #0c634c,
  800 : #0a5942,
  900 : #054631,
  A100 : #7bffcd,
  A200 : #48ffba,
  A400 : #15ffa7,
  A700 : #00fb9c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$travel-warn: (
  50 : #f9e0e0,
  100 : #f1b3b3,
  200 : #e88080,
  300 : #df4d4d,
  400 : #d82626,
  500 : #d10000,
  600 : #cc0000,
  700 : #c60000,
  800 : #c00000,
  900 : #b50000,
  A100 : #ffdede,
  A200 : #ffabab,
  A400 : #ff7878,
  A700 : #ff5e5e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

