<mat-form-field
  search-input-form-field appearance="outline" class="w-100"
  [formGroup]="searchForm"
  [hideRequiredMarker]="true">
  <mat-label search-input-autocomplete-label>Destination</mat-label>
  <input
    search-input
    formControlName="locationSearch"
    type="text" placeholder="Search a destination ..."
    matInput [matAutocomplete]="auto">
  <mat-icon search-input-suffix matSuffix>search</mat-icon>
  <mat-autocomplete
    search-input-autocomplete
    #auto="matAutocomplete">
    <mat-option
      search-input-option
      *ngFor="let option of locationOptions;"
      [id]="option.getId"
      (click)="onLocationOptionClick(option)">
      {{ option.getName }}
    </mat-option>
  </mat-autocomplete>
  <mat-error
    search-input-error
    *ngIf="locationSearch.touched && (locationSearch.errors || location.errors)">
    Location is required
  </mat-error>
</mat-form-field>
