<ng-container>
  <mat-card
    class="card-item"
    data-cy-card-item>
    <img
      data-cy-card-item-image
      mat-card-image
      src="{{cardItem.image}}" alt="Photo of an item">
    <div>
      <mat-card-header>
        <mat-card-title
          data-cy-card-item-title>
         {{cardItem.title}}
        </mat-card-title>

        <mat-card-subtitle
          data-cy-card-item-subtitle>

          {{cardItem.subtitle}}

        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content
        data-cy-card-item-description>
        <p>    {{cardItem.description}}</p>
      </mat-card-content>
    </div>
  </mat-card>
</ng-container>
