<form [formGroup]="searchForms" class="row justify-content-center">
  <div formArrayName="searchFormsArray" class="col-12">
    <div search-bars class="row justify-content-center"
         *ngFor="let searchForm of searchFormsArrayControls; let i = index"
         [formGroupName]="i">
      <!--
      <div class="col-1 px-0">
        <div class="row flex-column">
          <app-simple-icon-button
            search-bar-up
            class="col-6 px-0"
            [icon]="'keyboard_arrow_up'"
            [isHidden]="i === 0"
            (buttonClick)="moveSearchBar(i, false)"
          ></app-simple-icon-button>

          <app-simple-icon-button
            search-bar-down
            class="col-6 px-0"
            [icon]="'keyboard_arrow_down'"
            [isHidden]="i === searchFormsArrayControls.length - 1"
            (buttonClick)="moveSearchBar(i, true)"
          ></app-simple-icon-button>
        </div>
      </div>
      -->

      <app-search-input [searchForm]="searchForm" class="col-4 mx-1 px-0">
      </app-search-input>

      <app-date-range [searchForm]="searchForm" class="col-4 mx-1 px-0">
      </app-date-range>

      <app-simple-icon-button
        search-bar-remove
        class="col-2 mx-1 px-0"
        [icon]="'delete'"
        [color]="'warn'"
        [isHidden]="searchFormsArrayControls.length === 1"
        (buttonClick)="removeSearchBar(i)">
      </app-simple-icon-button>
    </div>
  </div>
  <div class="col-12">
    <div class="row justify-content-center">
      <app-simple-icon-button
        search-bar-add
        class="col-1 px-0"
        [icon]="'add'"
        [buttonType]="'mini-fab'"
        (buttonClick)="addSearchBar()">
      </app-simple-icon-button>
      <app-simple-button
        search-bar-validate
        class="col-2 px-0"
        *ngIf="searchForms"
        [label]="'Validate'"
        [isDisabled]="searchForms.invalid"
        (buttonClick)="validate()">
      </app-simple-button>
    </div>
  </div>
</form>
