<div class="successRegister" *ngIf="success">
  <mat-card>
    <mat-card-content>{{INFO_MESSAGES.SUCCESS_REGISTER}}</mat-card-content>
  </mat-card>
</div>
<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Register User</h1>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <mat-form-field id="firstName">
          <mat-label for="firstName">First name:</mat-label>
          <input matInput type="text" formControlName="firstName" name="firstName" [ngClass]="{
                'is-invalid':
                  registerForm.controls['firstName'].hasError('required')
              }">
          <mat-error *ngIf="registerForm.hasError('required', 'firstName')">{{INFO_MESSAGES.EMPTY_NAME}}</mat-error>
        </mat-form-field>
        <mat-form-field id="lastName">
          <mat-label for="lastName">Last name:</mat-label>
          <input matInput type="text" formControlName="lastName" name="lastName" [ngClass]="{
                'is-invalid':
                  registerForm.controls['lastName'].hasError('required')
              }">
          <mat-error *ngIf="registerForm.hasError('required', 'lastName')">{{INFO_MESSAGES.EMPTY_NAME}}</mat-error>
        </mat-form-field>
        <mat-form-field id="email">
          <mat-label for="email">Email:</mat-label>
          <input matInput type="email" formControlName="email" name="email" [ngClass]="{
                'is-invalid':
                  registerForm.controls['email'].hasError('required') ||
                  registerForm.controls['email'].hasError('email')
              }">
          <mat-error *ngIf="registerForm.hasError('required', 'email')">{{INFO_MESSAGES.EMPTY_EMAIL}}</mat-error>
          <mat-error *ngIf="registerForm.hasError('email', 'email')">{{INFO_MESSAGES.INVALID_EMAIL}}</mat-error>
        </mat-form-field>
        <mat-form-field id="password">
          <mat-label for="password">Password:</mat-label>
          <input matInput type="password" formControlName="password" name="password" [ngClass]="{
                'is-invalid':
                  registerForm.controls['password'].hasError('required') ||
                  registerForm.controls['password'].hasError('minlength')
              }">
          <mat-error *ngIf="registerForm.hasError('required', 'password')">{{INFO_MESSAGES.EMPTY_PASSWORD}}</mat-error>
          <mat-error *ngIf="registerForm.hasError('minlength', 'password')">{{INFO_MESSAGES.SHORT_PASSWORD}}</mat-error>
        </mat-form-field>
        <mat-form-field id="confirmPassword">
          <mat-label for="password">Confirm password:</mat-label>
          <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" [errorStateMatcher]="matcher">
          <mat-error *ngIf="registerForm.hasError('notSame')">{{INFO_MESSAGES.DIFFERENTS_PASSWORD}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="registerButton" (click)="createUser()">Create User</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

