.card-component {
  cursor: pointer;
  color: #484848;
  position: relative;
  top: 0;
  left: 0;
}

.card-img {
  position: relative;
}

img {
  height: 175px;
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 94%;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
