<div class="h-container-fixed">
    <div class="close">
        <mat-icon data-cy-item-details-close-button fontIcon="close icon" (click)="closeDetailCardDialog()"></mat-icon>
    </div>
      <div class="h-container-fixed">
        <div class="row mb-4">
          <div class="button-new-trip col-8">
            <app-simple-button (buttonClick)="newTripForm()" [label]="'New Trip'" [icon]="'add_circle_outline'"></app-simple-button>
        </div>
        </div>
       <app-multiple-search-bars
          search-bar
          [searchForms]="searchForms"
          (activeSearchBarChange)="onActiveSearchBarChange($event)"
          (viewChange)="onViewChange($event)"
        ></app-multiple-search-bars> 

        <app-map-travel-mode-selection
            map-travel-mode-selection
            *ngIf="activeSearchBar.index !== null && itineraryView"
            [itineraryMode]="itineraryMode"
            (itineraryModeChange)="onItineraryModeChange($event)"
          ></app-map-travel-mode-selection>
          
        <hr class="mx-2 my-4 border-lightgray-bottom">
        <app-step-dates-filters class="col-8"
          map-filters
          *ngIf="activeSearchBar.index !== null"
          [selectedSearchForm]="selectedSearchForm"
        ></app-step-dates-filters>

        <app-leisure-category-filter
          (onSelectedCategory)="onSelectedCategoryChange($event)">
        </app-leisure-category-filter>
        <hr class="mx-2 my-4 border-lightgray-bottom">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-8 button-new-trip">
                <app-simple-button
                  data-cy-explorer-save-button
                  *ngIf="activeSearchBar.index !== null"
                  [label]="'Save my trip'"
                  [icon]="'save'"
                  (buttonClick)="onSaveTrip(undefined)">
                </app-simple-button>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-8 button-new-trip">
                <app-simple-button
                  generate-pdf-button
                  *ngIf="activeSearchBar.index !== null"
                  [buttonType]="'stroked'"
                  [label]="'Generate my trip summary'"
                  [icon]="'save_alt'"
                  (buttonClick)="generateSummary()">
                </app-simple-button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
