
<h1 class="trip-title" *ngIf="trips.length > 0;">Your trip in one click !</h1>
<div class="ng-container container"
     *ngIf="trips.length > 0; else emptyState">
  <div class="trip-content"
    *ngFor="let item of trips; let i = index">
    <div class="trip-cards">
      <app-card-item
        [id]="'card-'+i"
        [cardItem]="tripToCardItem(item)"
        (onItem)="onItemClicked(i)">
        data-cy-trip-component></app-card-item>
      <div class="trip-buttons">
        <app-simple-icon-button
          trip-remove
          class="col-2 px-0"
          [icon]="'delete'"
          [color]="'warn'"
          [isDisabled]="false"
          (buttonClick)="onDelete(item.id)"></app-simple-icon-button>
        <app-simple-icon-button
          trip-update
          class="col-2 px-0"
          [icon]="'map icon'"
          [color]="'primary'"
          [isDisabled]="false"
          (buttonClick)="onUpdate(item.id)"></app-simple-icon-button>
        <app-simple-icon-button
          trip-pdf
          class="col-2 px-0"
          [icon]="'picture_as_pdf'"
          [color]="'primary'"
          [isDisabled]="false"
          (buttonClick)="onPdf(item.id)"></app-simple-icon-button>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyState>
  <div class="not-found">
    <div class="not-found-status">
      whOops !
    </div>
    <div class="not-found-text">
      it seems that you don’t have any trip for the moment !
    </div>
    <div class="not-found-button">
        <app-simple-button home-page-redirection
            (buttonClick)="homePageRedirection()"
            [label]="'HOME'"
            data-cy-show-more-item-button>
        </app-simple-button>
    </div>
</div>
</ng-template>
