.carousel {
    margin-top: 1rem;
}

.carousel img {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    .carousel img {
        height: 30vh;
    }
}