<h1 mat-dialog-title [align]="'center'" class="m-0 my-3">
  {{ 'Welcome among us !' | uppercase }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="registerForm">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
        <mat-form-field id="firstName" appearance="outline" class="w-100">
          <mat-label for="firstName">First name </mat-label>
          <input matInput type="text" formControlName="firstName" name="firstName" [ngClass]="{
          'is-invalid':
            registerForm.controls['firstName'].hasError('required')
          }">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-error *ngIf="registerForm.hasError('required', 'firstName')">{{INFO_MESSAGES.EMPTY_NAME}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
        <mat-form-field id="lastName" appearance="outline" class="w-100">
          <mat-label for="lastName">Last name </mat-label>
          <input matInput type="text" formControlName="lastName" name="lastName" [ngClass]="{
          'is-invalid':
            registerForm.controls['lastName'].hasError('required')
          }">
          <mat-icon matSuffix>person_outline</mat-icon>
          <mat-error *ngIf="registerForm.hasError('required', 'lastName')">{{INFO_MESSAGES.EMPTY_NAME}}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-2">
        <mat-form-field id="email" appearance="outline" class="w-100">
          <mat-label for="email">Email </mat-label>
          <input matInput type="email" formControlName="email" name="email" [ngClass]="{
          'is-invalid':
            registerForm.controls['email'].hasError('required') ||
            registerForm.controls['email'].hasError('email')
          }">
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="registerForm.hasError('required', 'email')">{{INFO_MESSAGES.EMPTY_EMAIL}}</mat-error>
          <mat-error *ngIf="registerForm.hasError('email', 'email')">{{INFO_MESSAGES.INVALID_EMAIL}}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
        <mat-form-field id="password" appearance="outline" class="w-100">
          <mat-label for="password">Password </mat-label>
          <input matInput type="password" formControlName="password" name="password" [ngClass]="{
          'is-invalid':
            registerForm.controls['password'].hasError('required') ||
            registerForm.controls['password'].hasError('minlength')
          }">
          <mat-icon matSuffix>lock_open</mat-icon>
          <mat-error *ngIf="registerForm.hasError('required', 'password')">{{INFO_MESSAGES.EMPTY_PASSWORD}}</mat-error>
          <mat-error *ngIf="registerForm.hasError('minlength', 'password')">{{INFO_MESSAGES.SHORT_PASSWORD}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pt-2">
        <mat-form-field id="confirmPassword" appearance="outline" class="w-100">
          <mat-label for="password">Confirm password </mat-label>
          <input matInput type="password" formControlName="confirmPassword" name="confirmPassword" [errorStateMatcher]="matcher">
          <mat-error *ngIf="registerForm.hasError('notSame')">{{INFO_MESSAGES.DIFFERENTS_PASSWORD}}</mat-error>
          <mat-icon matSuffix>lock_open</mat-icon>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div
    mat-dialog-actions
    class="px-0"
    *ngIf="!success; else logged"
    [align]="'center'">
    <mat-error
      name="errorRequest"
      class="mb-3"
      *ngIf="this.errorMessage !== ''">{{this.errorMessage}}
    </mat-error>
    <app-simple-button
      class="w-100"
      [label]="'Register'"
      (buttonClick)="createUser()">
    </app-simple-button>
  </div>
  <ng-template #logged class="row justify-content-center" mat-dialog-content>
    <div class="col-12 text-center">
      {{INFO_MESSAGES.SUCCESS_REGISTER}}
    </div>
  </ng-template>
</div>

