@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

header {
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Source Sans Pro', sans-serif;
  color: #484848;
}

h1 {
  margin: 0;
}

.header-elements {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  color: #484848;
}

.menu-hamburger {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navigation span {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .menu-hamburger {
    position: absolute;
    top: 16px;
    left: 24px;
    display: flex;
  }
}