<header class="sticky-top h-header m-0 p-0 d-xl-block d-lg-block d-md-none d-sm-none d-none border-bottom"
  style="z-index: 1;">
  <div class="row justify-content-between align-items-center p-3 m-0">
    <h1 class="col-2 text-center">
      T-WEB-800
    </h1>
    <div class="navigation col-2">
      <div class="row">
        <app-simple-icon-button class="col-3" [icon]="'history icon'"></app-simple-icon-button>
        <app-simple-icon-button class="col-3" [icon]="'map icon'"></app-simple-icon-button>
        <app-simple-icon-button class="col-3" [icon]="'perm_identity'" (buttonClick)="openLoginDialog()"></app-simple-icon-button>
      </div>
    </div>
  </div>
</header>