header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  margin-bottom: 5vh;
}

.logo {
  margin-left: 5vw;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 5vw;
}

button {
  border: none;
  background-color: cornflowerblue;
  cursor: pointer;
  margin-left: 10px;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  color: white;
  border-radius: 5px;
}

.login, .register {
  margin-left: 10px;
}
